<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
  <h1>Welcome!</h1>
  
<h2>Demo</h2>
<div>Create an account and start making libraries</div>
<form method="POST" action="/demo">
<p>Username:</p><span class="req">*</span> <input type="text" name="name1">
<p>Full name (first and last):</p><span class="req">*</span> <input type="text" name="name2">
<p>Birthday:</p><span class="req">*</span> <input type="date" name="date">
<p>Email:</p><span class="req">*</span> <input type="text" name="email"> <input type="submit" value="Add">
</form>
</body>


</html>
