<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
  <h1>Welcome!</h1>
  
<h2>Demo</h2>
<div>Create an account and start making libraries</div>
<form method="POST" action="/demo">
<p>Library_index:</p><span class="req">*</span> <input type="int" name="library_index">
<p>User_id:</p><span class="req">*</span> <input type="text" name="user_id">
<p>Album_id:</p><span class="req">*</span> <input type="text" name="album_id"> <input type="submit" value="Add">
</form>

</body>


</html>
