<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

  <body>
  <h1>Welcome!</h1>
  
<h2>Demo</h2>
<div>Create an account and start making libraries</div>
<form method="POST" action="/demo">
<p>Username:</p><span class="req">*</span> <input type="text" name="name1">
<p>Birthday:</p><span class="req">*</span> <input type="date" name="date">
<p>Email:</p><span class="req">*</span> <input type="text" name="email"> <input type="submit" value="Add">
</form>

 <div>
{% for n in data %}
 <div>{{n}}</div>
  {% endfor %}
 </div>

</body>


</html>


<div>Create an account and start making libraries</div>
<form method="POST" action="/demo">
  <b>Create an account and start making libraries</b>
  <br>
  --new <i>Library_index: </i><input type="int" name="library_index"><br>
  --new <i>User_id: </i><input type="text" name="user_id"><br>
  --new <i>Album_id: </i><input type="text" name="album_id"><br>
  <input type="submit" value="Add">

</form><br>
