<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Welcome to Spotify!</h1>
  <div>Our top 5 Artists:</div>
  <div>{{data}}</div>

  <ol>
    {% for n in data %}
    <li>{{n}}</li>
    {% endfor %}
  </ol>

<p><a href="/userprofiles">User Profiles</a></p>
<p><a href="/gandm">Genres and Moods</a></p>
<p><a href="/artists">Artists</a></p>

<form method="GET" action="/search">
<p>Search for a song: <input type="text" name="name"> <input type="submit" value="Search"></p>
</form>

</body>


</html>
